div.conteiner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    background-color: rgb(79, 228, 220);
}

div.item {
    background-color: rgb(68, 30, 104);
    border: 2px solid black;
    text-align: center;
    padding: 10px;

}