* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.container {
    
    
}
.item  {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    padding: 40px; 
}