* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.container {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    

    
}

.item {
    background-color: lightskyblue;
    border: 1px solid black;
    border-radius: 19px;
    text-align: center;
    flex-basis: auto;
    padding: 20px;
}

#i1 {




}

#i2 {

}

#i3 {
    

}

#i4 {

}

#i5 {
}

#i6 {

}
